@model CategoryUpdateViewModel


<h3 class="text-center">Kategori Düzenleme Formu</h3>

<form method="post" asp-controller="Category" asp-action="Update">

    <input asp-for="Id" type="hidden"/>

    <div>
        <label>Kategori Adı</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-warning mt-4 fw-bold float-end">Kategori Güncelle.</button>


</form>