<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis">Patika 5 Yaşında!</h1>
        <p class="lead">
            2020 Yılı Şubat ayında kurulan Patika 5. yılını kutluyor.
            Doğum günün kutlu olsun patika !
        </p>
    </div>
</div>